/* h1{
    background-color:aqua;

}
p{
    background-color:green;
} */
/* div{
    background-color:yellow;
} */

 /* .box{
    padding:100px;
    width:30px;
    height:400px;

}
.box1{
    background-color:yellow;
}
.box2{
    background-color:pink;
}
.box3{
    background-color:azure;
}
 */
 


 
