.container{
    display: flex;
    height: 200px;
    width: 100px;
    border:1px solid black;
    background-color: lightgreen;
    flex-direction: column;
    flex-wrap: wrap wrap-reverse;
     
}
.item{
    height: 100px;
    width: 50px;
    background-color: coral;
    border:1px solid red;
}